# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# =========================
# ML MODEL (สำคัญ)
# =========================
*.pkl
*.joblib

# หรือถ้าจะ ignore เฉพาะ folder
# app/*.pkl

# =========================
# Data
# =========================
data/
*.xlsx

# =========================
# Env
# =========================
.env

# =========================
# Cache
# =========================
.cache/